/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f7f7f7;
}

a {
    color: #c00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #c00;
    padding: 1.5rem;
    text-align: center;
    color: white;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 2rem;
}

.header-text h1 {
    font-size: 2.5rem;
    margin: 0;
}

.header-text p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.header-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-text li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

/* Projects */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.project {
    width: 30%;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease-in-out;
    background-color: gray;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.project img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.project h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.project a {
    font-weight: bold;
    color: #c00;
}

@media (max-width: 768px) {
    .project {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .project {
        width: 100%;
    }
}

/* Footer */
footer {
    background-color: #c00;
    color: white;
    padding: 2rem;
    text-align: center;
}

footer p {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #f7f7f7;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #f7f7f7;
}
